# Misc. LaTeX Files
*.aux
*.out
*.bbl
*.blg
*.toc
*.log
*.synctex.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.dvi
*.nav
*.snm
*.vrb
*.bcf
*.lof

*.run.xml

# Librie Office Tmp Files
.~lock.*
